@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
<div class="background">
    <div class="overlay">
        <h1>BRAIN TUMOR CLASSIFICATION</h1>
        <p>Classifying Brain Tumor</p>
        <div class="button-group">
            <button class="main-btn" @onclick="GoToUploadAndPredict">BRAIN TUMOR PREDICTION</button>
        </div>
    </div>
</div>

@code {
    private void GoToUploadAndPredict()
    {
        NavigationManager.NavigateTo("upload-and-predict");
    }
}
